$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;

$headerHeight: 70px;
$headerBottomMargin: 10px;

$drawerWidth: 240px;

$footerHeight: 70px;
$footerYpadding: 5px;

$keycolor1: #534847;
$keycolor2: #9B8281;
$keycolor3: #D09E88;
$keycolor4: #FADAD8;
$background: #fcfcfc;
