@import "./variables";
@import "./mixin";

@include desktop {
    #header{
        position: relative;
        width: calc(100vw - 60px);
        height: $headerHeight;
        margin-bottom: $headerBottomMargin;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 30px;
        @include out-shadow(0px, 0px, 15px, 0px, #CDCDCD);
        .logoWarp{
            @include flex-center;
            img{
                @include cover-img($height:50px)
            }
            .title{
                margin-left: 20px;
                span {
                    font-size: 25px;
                    font-family: "NanumSquare";
                    font-weight: 800;
                }
            }
        }
    }

    #drawer{
        width: $drawerWidth;
        .menuList{
            width: $drawerWidth;
            margin-top: 30px;
            .logo4{
                img{
                    margin-left: 10px;
                    @include cover-img($width:160px)
                }
            }
            .menu{
                div{
                    margin-left: 10px;
                    font-family: "NanumSquare";
                    font-size: 15px;
                }
            }
            .cur_page{
                background-color: #f1f1f1;
                div{
                    font-weight: bold;
                }
            }
        }
    }

    #footer{
        position: relative;
        width: 100vw;
        height: $footerHeight;
        padding: $footerYpadding 0px;
        @include flex-center;
        @include out-shadow(0px, 0px, 15px, 0px, #CDCDCD);
        .content{
            height: calc(100% - 40px);
            padding: 20px 10px;
            @include flex-center($justifyContent:flex-end, $alignItems: flex-start,$direction: column);
            span{
                font-size: 12px;
                font-family: "NanumSquare";
                font-weight: 700;
                margin: 2px;
            }
        }
    }
    #private-policy{
        padding-top: 5vh;
        .profileimg{
            @include flex-center;
            img{
                @include cover-img(20vw, 20vw);
                border-radius: 50%
            }
        }
        .content{
            padding: 0px 5vw;
        }
    }

    div.main{
        @include flex-center($justifyContent:flex-start, $direction: column);
        @include contentHeight;
        background: $background;
    }


    #home{
        .mainCard{
            padding: 50px;
            @include flex-center;
            .cardImg{
                @include flex-center;
                img{
                    @include cover-img($width: 30vw);
                    border-radius: 15px;
                };
            }

            .profile{
                margin-left: 5vw;
                @include flex-center($alignItems:flex-start, $direction: column);
                font-family: "NanumSquare";
                font-size: 20px;
                div{
                    margin: 10px;
                    span{
                        font-weight: 800;
                    };
                    a{  
                        padding: 3px 12px;
                        text-align: center;
                        text-decoration: none;
                        color: black;
                        font-size: 20px;
                        border-radius: 10px;
                        transition: all 0.2s ease-in-out;
                        position: relative;
                        overflow: hidden;
                    }
                    a:before {
                        content: "";
                        background-color: rgba(255,255,255,0);
                        height: 100%;
                        width: 30px;
                        display: block;
                        position: absolute;
                        top: 0;
                        left: -45px;
                        transform: skewX(-45deg) translateX(-10px);
                        transition: none;
                    }
                    a:hover {
                        background-color: $keycolor2;
                        color: #fff;
                    }
                    a:hover:before {
                        background-color: rgba(255,255,255,0.4);
                        transform: skewX(-45deg) translateX(300px);
                        transition: all 0.5s ease-in-out;
                    }
                }
                .snsList{
                    @include flex-center($justifyContent:space-around);
                    width: 100%;
                    transition: all 0.2s ease-in-out;
                    .icon{
                        color: black;
                        font-size: 40px;
                    }
                    .icon:hover{
                        color: $keycolor2;
                    }
                }
            }
        }
        .mainPosts{
            width: 80%;
            margin-bottom: 50px;
            .titleWrap{
                @include flex-center($justifyContent:space-between);
                font-family: "NanumSquare";
                h1{
                    font-size: 35px;
                    font-weight: 800;
                }
                .more{
                    font-size: 15px;
                    font-weight: 700;
                    color: #4d4d4d;
                }
            }
            .PostWarp{
                @include flex-center($justifyContent:flex-start, $direction:column);
            }
        }
    }
}