@import "./variables";
@import "./mixin";

@include desktop {
    #header{
        position: relative;
        width: calc(100vw - 60px);
        height: $headerHeight;
        margin-bottom: $headerBottomMargin;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 30px;
        @include out-shadow(0px, 0px, 15px, 0px, #CDCDCD);
        .logoWarp{
            @include flex-center;
            img{
                @include cover-img($height:50px)
            }
        }
        .header-menu{
            .menu{
                width: 100px;
                span{
                    font-family: "NanumSquare";
                    font-size: 15px;
                }
            }
            .cur_page{
                background-color: #f1f1f1;
                span{
                    font-weight: bold;
                }
            }
        }
    }

    #drawer{
        width: $drawerWidth;
        .menu-list{
            width: $drawerWidth;
            margin-top: 30px;
            .logo4{
                img{
                    margin-left: 10px;
                    @include cover-img($width:160px)
                }
            }
            .menu{
                div{
                    margin-left: 10px;
                    font-family: "NanumSquare";
                    font-size: 15px;
                }
            }
            .cur_page{
                background-color: #f1f1f1;
                div{
                    font-weight: bold;
                }
            }
        }
    }

    #footer{
        position: relative;
        width: 100vw;
        height: $footerHeight;
        padding: $footerYpadding 0px;
        background-color: white;
        @include flex-center;
        @include out-shadow(0px, 0px, 15px, 0px, #CDCDCD);
        .content{
            height: calc(100% - 40px);
            padding: 20px 10px;
            @include flex-center($justifyContent:flex-end, $alignItems: flex-start,$direction: column);
            span{
                font-size: 12px;
                font-family: "NanumSquare";
                font-weight: 700;
                margin: 2px;
            }
        }
    }

    #home{
        .cardWrap{
            @include fullWidth;
            @include flex-center($justifyContent:flex-start);
            padding: 50px 20vw;
            background-color: black;
            img{
                @include cover-img($width: 400px);
                border-radius: 15px;
            };
            .text{
                @include flex-center($alignItems: flex-start, $direction:column);
                span{
                    margin: 5px 0px;
                    color: white;
                }
                .title{
                    font-size: 30px;
                    font-family: "Inter,Helvetica Neue,Helvetica,Arial,sans-serif";
                    color: white;
                    font-weight: 900;
                }
                .italic{
                    font-family: Georgia,Times New Roman,Times,serif;
                    font-style: italic;
                    margin-bottom: 0px;
                }
                .date{
                    margin-top: 0px;
                    margin-left: 10px;
                    font-family: Inter,Helvetica Neue,Helvetica,Arial,sans-serif;
                    font-size: 16px;
                    font-weight: 700;
                }
                .place{
                    font-family: Inter,Helvetica Neue,Helvetica,Arial,sans-serif;
                    font-size: 16px;
                    font-weight: 700;
                    font-style: normal;
                }
            }
        }
        .profile-sns{
            width: 100%;
            .icon{
                font-size: 25px
            }
        }
        .about-sns{
            width: 100%;
            @include flex-center($justifyContent:space-around);
            .icon{
                color: black;
                font-size: 50px;
            }
        }
        .about{
            width: 100%;
            margin-top: 20px;
            @include flex-center($justifyContent: flex-start, $direction: column);
            .content{
                @include flex-center($alignItems: flex-start);
                width: 1000px;
                margin-bottom: 50px;
                .subject{
                    margin-top: 30px;
                    width: 190px;
                    p{
                        overflow-wrap: break-word;
                        font-size: 32px;
                        font-family: Inter,Helvetica Neue,Helvetica,Arial,sans-serif;
                        color: #3A3B3C;
                    }
                    .red{
                        color: red;
                        font-weight: bold;
                    }
                }
                hr {
                    align-self: stretch;
                    margin: 0px 20px;
                    height: auto;
                    width: 2px;
                }
                .text{
                    width: 768px;
                    @include flex-center($justifyContent: flex-start, $alignItems:flex-start ,$direction: column);
                    .wrap{
                        width: 100%;
                        margin-top: 30px;
                        @include flex-center($justifyContent: flex-start, $alignItems:flex-start ,$direction: column);
                        p{
                            margin: 0px;
                            font-family: "NanumSquare";
                            line-height: 25px;
                            font-size: 16px;
                            color: #3A3B3C;
                            span{
                                font-weight: 700;
                                color: #000000;
                            }
                        }
                        .top-margin{
                            margin-top: 5px;
                        }
                    }
                }
            }
        }
    }
}